html, body {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 16px;
}

.available-modules {
	border-bottom: 2px solid #aaa;
	background: #eee;
	padding: 4px;
}

.available-modules .module-icon {
	display: inline-block;
	padding-top: 80px;
	width: 110px;
	line-height: 30px;
	text-align: center;
	background: #ccc no-repeat center 29%;
    background-size: 60%;
	text-decoration: none;
	color: #666;
	font-size: 14px;
}

.available-modules .module-icon.module-vco { background-image: url('../img/module-icon-vco.svg'); }
.available-modules .module-icon.module-vca { background-image: url('../img/module-icon-vca.svg'); }

.available-modules h4 {
	color: #888;
	margin: 0;
	padding: 0;
}

#websynth-canvas {
	position: relative;
	min-height: 500px;
	background: #eee;
}

.websynth-module {
	position: absolute !important;
	min-width: 200px;
	background: #fff;
}

.websynth-module h3 {
	margin: 2px;
    padding: 2px 8px;
    background: #ddd no-repeat 97% center / 18%;
    font-size: 14px;
    line-height: 50px;
}

.websynth-module.websynth-vco h3 { background-image: url('../img/module-icon-vco.svg'); }
.websynth-module.websynth-vca h3 { background-image: url('../img/module-icon-vca.svg'); }
.websynth-module.websynth-masteroutput h3 { background-image: url('../img/module-icon-masteroutput.svg'); }

.websynth-module .connectors {
	position: absolute;
	top: 0;
	width: 20px;
	height: 100%;
	text-align: center;
}

.websynth-module .connectors.inputs { left: -20px; }
.websynth-module .connectors.outputs { right: -20px; }

.websynth-module .connectors .connector {
	width: 12px;
	height: 12px;
	background: #fff;
	border: 1px solid #ccc;
	margin: 8px 0;
	border-radius: 10px;
	display: inline-block;
}

.websynth-module.output-connected .connectors.outputs .connector { background: #404040; }
.websynth-module.input-connected .connectors.inputs .connector { background: #404040; }

.websynth-module .content {
	padding: 10px;
}

.synth-pad {
	overflow: hidden;
	background: #eee;
}

.synth-pad a {
	width: 40px;
	height: 100px;
	margin: 4px;
	float: left;
	display: block;
	background: #fff;
}

.synth-pad a.sharp {
	background: #404040;
}

.svg-line-wrapper {
	position: absolute;
}

.svg-line-wrapper line {
	fill: none;
	stroke: #000;
}